FifteenGui QPushButton {
    background: palegreen;
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 0;
    margin: 2px;
}

[fifteen=blank] {
    background: white;
}

[fifteen=moved] {
    background: springgreen;
}
